# Ignoring large files and sensitive content

Codes_not_used/
Veronika_Thesis_Exp1_Garcia/
Veronika_Thesis_Exp2_OV/
ZFOLDER_DESCRIPTION.py
unknown_word_files/
Trial_Prob_Explanation/
Participant_Timing/
Basile_Garcia_Code/
Garcia_Analysis/data/
OV_Analysis/data/
Papers_for_Thesis/
unknown_word_files/
Pilot_Analysis/
Garcia_Analysis/stats_TingGluth/EE_eye_predict/
Garcia_Analysis/stats_TingGluth/ES_eye_predict/
Garcia_Analysis/not_needed/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/not_used/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/simulation/Data/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/simulation/old/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/simulation/NewFixCode_EXP1/Old/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/simulation/NewFixCode_EXP1/Data/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/simulation/NewFixCode_EXP1/ppc_full_bayesian/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/simulation/NewFixCode_EXP1/ppc_with_mean_estimate/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/simulation/NewFixCode_EXP2/Data/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/simulation/NewFixCode_EXP2/old_files/
Garcia_Analysis/stats_TingGluth/Analysis_Simulation_replication/simulation/NewFixCode_EXP2/ppc_full_bayesian/
Garcia_Analysis/stats_TingGluth/confidence_ratings/
Garcia_Analysis/stats_TingGluth/consistency_results/
Garcia_Analysis/stats_TingGluth/EE_eye_predict/
Garcia_Analysis/stats_TingGluth/ES_eye_predict/
OV_Analysis/data/
OV_Analysis/Figures/
OV_Analysis/stats_TingGluth/
OV_Analysis/not_used/
Pilot_Analysis/data
Pilot_Analysis/Data_Collection_Start_VW_Laptop_20_10_23
Pilot_Analysis/Figures
Pilot_Analysis/stats_TingGluth